.elementor-add-new-section .pgs-library-add-template-button {
	background-color: #0aa594;
	margin-left: 5px;
	vertical-align: bottom;
}
.elementor-add-new-section .pgs-library-add-template-button img {
	width: 16px;
	margin: 0;
}
